<?xml version="1.0" ?>
<model>
  <name>Hexadrone</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Gareth Harrison</name>
    <email>gareth.harrison@binus.ac.id</email>
  </author>

  <author>
    <name>Maulana Mu'ammar</name>
    <email>maulana.muammar@binus.ac.id</email>
  </author>

  <description>
    AEROBASE Hexadrone
  </description>

</model>