<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rotor" params="name parent position mesh">
  
    <!-- Rotor visual and collision -->
    <link name="${name}">
      <visual>
        <geometry>
          <mesh filename="package://drone_description/meshes/${mesh}" scale="0.5 0.5 0.5"/>
        </geometry>
        <material name="blue">
          <color rgba="0.0 0.0 1.0 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://drone_description/meshes/${mesh}" scale="0.5 0.5 0.5"/>
        </geometry>
      </collision>
    </link>

    <!-- Rotor joint fixed to parent -->
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}"/>
      <origin xyz="${position}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
