<?xml version="1.0" ?>
<model>
  <name>my_drone</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Gareth A. Harrison</name>
    <email>gareth.harrison@binus.ac.id</email>
  </author>
  <description>AeroBASE KRTI 2025 is an advanced drone model designed for competitive robotics and simulation. It incorporates cutting-edge technology for precision, stability, and performance in aerial tasks.</description>
</model>
